.mainContainer {
    display: flex;
    flex-flow: wrap row;
    justify-content: center;
    align-items: center;
}
.mainCardSize {
    width: 80%;
    border-radius: 25% 4% 25% 4%;
    margin: 3%;
}

.cardStyle {
    
    border-radius: 25% 4% 25% 4%;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.cardBody {
    border: 0.5px solid #3633f14d;
    border-radius: 25% 4% 25% 4%;
}


@media (min-width: 791px) {
    .mainCardSize {
        width: 30%;
        
    }
    
}