.mainContainer {
    display: flex;
    flex-flow: wrap row;
    justify-content: center;
    align-items: center;
}
.mainCardSize {
    width: 80%;

    margin: 3%;
}



@media (min-width: 791px) {
    .mainCardSize {
        width: 30%;
        
    }
    
}